LOG_LEVEL=DEBUG
SERVER_ADDRESS=0.0.0.0
SERVER_PORT=5000
AUDIO_FILES_PATH=/tmp
MODEL_LANGUAGES_V1=EN:English,ZH:Chinese
MODEL_LANGUAGES_V2=EN,ES,FR,ZH,JP
DEVICE_V1=cuda:0
DEVICE_V2=cuda:0
SPEAKERS_FOLDER=speakers
SPEAKERS=elon,rachel,kaiwen
SUPPORTED_STYLES_V1=English
WATERMARK=@OpenVoiceAPI
